* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    position: relative;
    background-color: #ECF0FD;
    font-family: "Circular Std Book";
}

.container {
    max-width: 1920px;
    width: 100%;
    padding-top: 138px;
    padding-bottom: 379px;
}

.section1__header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /* top: 138px; */
    margin: auto;
    max-width: 520px;
    font-size: 55px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
}

.icon1 {
    position: absolute;
    left: 20.36%;
    top: 18.44%;
}

.icon2 {
    position: absolute;
    right: 23.33%;
    top: 17.3%;
}

.icon3 {
    position: absolute;
    left: 5.3%;
    top: 36.22%;
}

.icon4 {
    position: absolute;
    right: 12.14%;
    top: 38.54%;
}

.icon5 {
    position: absolute;
    left: 13.33%;
    bottom: 25.48%;
}

.icon6 {
    position: absolute;
    right: 20.10%;
    bottom: 21.59%;
}

.section1__text-block {
    width: 730px;
    height: 439px;
    position: relative;
    margin: auto;
    margin-top: 280px;
}

.section1__green-dots {
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 1;
    transform: translate(-25%, 38%);
}

.section1__red-dots {
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(27%, 12%);
    z-index: 1;
}

.section1__b1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0%;
    max-width: 618px;
    width: 100%;
    height: 331px;
    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: 2;
}

.section1__b2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    max-width: 678px;
    width: 100%;
    height: 363px;
    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: 3;
    box-shadow: 0px 18px 53px #d7e4f980;
}

.section1__b3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 40px;
    max-width: 730px;
    width: 100%;
    height: 391px;
    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: 4;
    box-shadow: 0px 18px 53px #D7E4F980;
}

.section1__quotes {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 17%);
    z-index: 5;
}

.section1__text {
    font-size: 27px;
    line-height: 40px;
    max-width: 566px;
    width: 100%;
    color: #94A2B3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 53.5%);
    text-align: center;
    z-index: 6;
}

.arrow_left {
    position: absolute;
    right: 0%;
    bottom: 0%;
    transform: translate(-169px, 46px);
    z-index: 7;
}

.arrow_right {
    position: absolute;
    right: 0%;
    bottom: 0%;
    transform: translate(-89px, 50px);
    z-index: 7;
}